
@{
    ViewBag.Title = "MainPage";
}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>
<head>
    <style>



        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #34495e;
        }
    </style>
</head>
<body>


    <div class="w3-bar w3-black">
        <a href="#" class="w3-bar-item w3-button class="btn btn-primary btn-lg" onclick="document.location='https://localhost:44316/Home/Login'">
            Login
        </a>
        <a href="#" class="w3-bar-item w3-button class="btn btn-primary btn-lg" onclick="document.location='https://localhost:44316/Home/Register'">
            Register
        </a>
        <a href="#" class="w3-bar-item w3-button ">Home</a>
    </div>

    </div>

</body>
</html>



<h2>Welcome to Old House Managment System</h2>

<button type="button" class="btn btn-primary btn-lg" onclick="document.location='https://localhost:44316/Home/Login'">Login</button>
<button type="button" class="btn btn-primary btn-lg" onclick="document.location='https://localhost:44316/Home/Register'">Register</button>

