@model oldhouse.Models.MyLogin
@{
    ViewBag.Title = "OldHome";
}

<body>
    <center>


        <h2>Welcome to OldHome</h2> <br />


        @using (Html.BeginForm("AddDetailsAutoFill", "Home", FormMethod.Post))
        {

            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.UserName)
            <div class="form-group">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="Add Details" class="btn btn-default text-white fw-bold" />

                </div>
            </div>
        }

        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Get))

        {

            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value=" Add Services" class="btn btn-default text-white fw-bold" />

                </div>
            </div>
        }

        @using (Html.BeginForm("ViewServices", "Home", FormMethod.Get))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="View Services" class="btn btn-default text-white fw-bold" />

                </div>
            </div>

        }
        @using (Html.BeginForm("SetPolicy", "Home", FormMethod.Get))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="Add Packages" class="btn btn-default text-white fw-bold" />

                </div>
            </div>

        }
        @using (Html.BeginForm("ViewServices", "Home", FormMethod.Get))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="View Packages" class="btn btn-default text-white fw-bold" />

                </div>
            </div>

        }
    </center>



</body>




