@model oldhouse.Models.MyLogin
@{
    ViewBag.Title = "OldHome";
}
<head>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<body>
    <center>


        <h2 style="color: red; font-size: 50px; font-family:'MV Boli'">Welcome to OldHome</h2> <br />


        @using (Html.BeginForm("AddDetailsAutoFill", "Home", FormMethod.Post))
        {

            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.UserName)
            <div class="form-group">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="Add Details" class="btn btn-default text-white fw-bold" />

                </div>
            </div>
        }

        @using (Html.BeginForm("Services", "Home", FormMethod.Get))

        {

            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value=" Add Services" class="btn btn-default text-white fw-bold" />

                </div>
            </div>
        }

        @using (Html.BeginForm("ViewServices", "Home", FormMethod.Get))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="View Services" class="btn btn-default text-white fw-bold" />

                </div>
            </div>

        }
        @using (Html.BeginForm("Package", "Home", FormMethod.Get))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="Add Packages" class="btn btn-default text-white fw-bold" />

                </div>
            </div>

        }
        @using (Html.BeginForm("ViewPackage", "Home", FormMethod.Get))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="View Packages" class="btn btn-default text-white fw-bold" />

                </div>
            </div>

        }
        @using (Html.BeginForm("RequestAutofill", "Home", FormMethod.Post))
        {


            <div class="form-group m-3">
                <div class="col-md-offset-2 btn btn-primary btn-lg">
                    <input type="submit" value="Request" class="btn btn-default text-white fw-bold" />

                </div>
            </div>
        }
        </center>



</body>




