
@{
    ViewBag.Title = "OldHome";
}

<h2>OldHome</h2>
<button onclick="document.location=''">Add Details</button>
<br />

<button onclick="document.location=''">Set Policy</button>
<br />

<button onclick="document.location=''">View Policy</button>
<br />

<button onclick="document.location=''">View Request</button>
<br />