
@{
    ViewBag.Title = "SetPolicy";
}

<h2>SetPackages</h2>


Package Name
<input type="text" style="border:2px solid yellow;" />
<br />
Packages Details:<br />
               <textarea style="border:2px solid Tomato;" name="" rows="8" cols="100">
     </textarea><br />

<button type="button" class="btn btn-primary btn-primary">Save</button>
