
@{
    ViewBag.Title = "UserOldHome";
}

<h2>UserOldHome</h2>
Search City
<select name="" style="border:2px solid Tomato;" ><br />
    <option></option>
</select><br /><br />
<input type="text" placeholder="Search By Name"/><br />
Gender<br />
<input type="radio" />Male
<input type="radio" />Female
<br /><br />
<button type="button" class="btn btn-primary btn-primary">Search</button>